[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
psycopg2-binary = "*"
asyncpg = "*"

[dev-packages]
fastapi = {extras = ["all"], version = "*"}
pytest = "*"
uvicorn = {extras = ["standard"], version = "*"}
black = "*"
mypy = "*"
isort = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
